@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    background: var(--Light-gray);
}

.card {
    width: 300px;
    padding: 16px;
    text-align: center;
    background: var(--White);
}

.card, .card-content img {
    border-radius: 16px;
}

.card-content > img {
    width: 270px;
    height: 270px;
    margin: auto;
}

.card-content {
    display: grid;
    gap: 16px;
}

.card-content h1 {
    font-size: 20px;
    color: var(--Dark-blue);
}

.card-content p {
    font-size: 15px;
    color: var(--Grayish-blue);
    margin-bottom: 1em;
}